.t-model{
	width: 200px;
	height: 160px;
	.inner-t-model{
	  	display: flex;
	  	flex-direction: column;
	  	justify-content: space-between;
	    align-items: center;
		.btn{
			height: 30px;
			line-height: 30px;
			text-align: center;
			background-color: #FC104E;
			border-radius: 8px;
			border: none;
			color: #fff;
			outline: none;
			&:hover{
				background-color: #f15656;
			}
		}
	}
}
